

.section_titulo {
    text-align: center;
    font-size: 40px;
    color: tomato;
}

.contenedor {
    margin: auto;
    width: 99%;
}

/* Estilos del Header */
.header {
    height: 60px;
}

.header .contenedor {
    display: flex;
    justify-content: space-between;
}

.logo, 
.icon-menu-list {
    margin: 5px;
    color: white;
}

.icon-menu-list {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: lightgreen;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}

.navegacion {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.4s;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu_link {
    display: block;
    padding: 15px;
    background: lightgreen;
    text-decoration: none;
    color: #fff;
}

.menu_link:hover, 
.select {
    background: white;
    color: tomato;
}

.mostrar {
    left: 0;    
}

/*--------------------Estilos del banner--------------------*/

.banner {
    margin-top: -60px;
    position: relative;
    z-index: -1000;
    margin-bottom: 20px;
}

.banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: white;
    text-align: center;
}

.banner_parrafo {
    display: none;
}

/*---------------Estilos de informacion---------------*/

.info_columna {
    background: tomato;
    color: white;
    padding: 15px;
    margin-bottom: 30px;
}


/*---------------Estilos de Servicios---------------*/

.servicios_columna {
    position: relative;
    margin-bottom: 30px;
}

.servicios_descripcion {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    width: 60%;
    height: 100%;
    padding: 5px;
}

.servicios_titulo {
    font-size: 25px;
    margin: 5px 0;
}

.servicios_img {
    width: 100%;
}

/*-------------Estilos del Footer-------------*/

.footer {
    background: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.footer .social [class^="icon-"] {
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
}

/*--------------Estilos responsive--------------*/

@media(min-width:480px) {
    .logo {
        font-size: 40px;
    }

    .banner_titulo {
        font-size: 30px;
        margin: 5px 0;
    }

    .banner_parrafo {
        display: block;
        font-size: 18px;
        margin: 7px 0;
    }

    .informacion, .servicios {
        display: flex;
        justify-content: space-between;
        margin-top: -90px;
    }

    .info_columna {
        width: 32%;
    }

    .info_titulo {
        font-size: 30px;
        margin: 5px 0;
    }

    .section_titulo {
        width: 100%;
    }

    .servicios {
        flex-wrap: wrap;
        margin-top: 0;
    }

    .servicios_columna {
        width: 49%;
    }    

    .footer .social [class^="icon-"] {
        margin: 0 10px;
      }
}

@media(min-width:768px) { 
    .banner_titulo {
        font-size: 50px;
    }
    .section_titulo {
        font-size: 40px;
    }
}

@media(min-width:1024px) { 
    .contenedor {
        width: 1000px;
    }
    .section_titulo {
        font-size: 50px;
        margin: 30px 0;
    }
    .navegacion {
        position: static;
        width: auto;
    }
    .menu {
        display: flex;
    }

    .icon-menu-list {
        display: none;
    }

    .menu_link {
        background: none;
    }

    .select {
        color: white;
        background: tomato;
    }
    
    .banner_titulo {
        font-size: 60px;
    }

    .banner_parrafo {
        font-size: 25px;
    }

    .info_titulo {
        font-size: 40px;
        text-align: center;
    }

    .servicios_descripcion {
        padding: 20px;
    }

    .section_titulo {
        font-size: 50px;
    }

    .servicios_parrafo {
        font-size: 20px;
    }    
}

@media(min-width:1280px) {
    .contenedor {
        width: 1200px;
    }
    .logo {
        font-size: 70px;
    }
    .banner .contenedor {
        top: 40%;
    }
    .informacion {
        margin-top: -250px;
    }
}